.simple-dropdown .dropdown-menu{padding:5px 0}
.simple-dropdown .dropdown-menu li{padding:5px 20px 2px 20px}
.navbar .navbar-nav .nav-link{padding:25px 0 5px 0}

.sub-header{height:300px;padding:30px 0;background-size:contain !important}

.main-concetp-title {margin-top: -40%;font-size: 45px; line-height: 45px;}
.main-concetp-desc{color:#73e2ff}

.text-paracom-blue{color:#165bb1}

.border-color-paracom-blue{border-color:#165bb1 !important}
.bg-color-paracom-blue{background-color:#00377B;}
.tab-style-07 .nav-tabs > li.nav-item > a.nav-link.active{background: linear-gradient(to right, #0039e3, #0039e3, #5e28dd, #741bd9, #8600d4); -webkit-background-clip: text; -webkit-text-fill-color: transparent;font-weight:bold}
.list-style-05 li{margin-bottom:0;}

/* about style */
.history {list-style-type: none;margin: 0;padding: 0;border-left:1px solid #dfdfdf}
.history li{margin-bottom: 10px;}
.history li::before {content: "\2022"; margin-left:-0.2em;margin-right:6px;position:relative;top:4px;color:#165bb1;font-weight: bold;display: inline-block;font-size: 2em;}
.history .multi{margin-left:4px;display: block;}
.history .description{display: block;color:#165bb1;font-size:15px;text-indent:12px;}

/* network style */
.network-cell{border-bottom:1px dashed #d0d0d0;padding-bottom:10px}
.network-info{margin:0;padding:0;list-style:none;}
.network-info li{padding-bottom:7px}
.client-list div{margin-bottom:60px}
.client-list img{max-width:70%;}

/* side style */
.legal-notice h6{margin-bottom:10px;margin-top:50px;font-size:24px;font-weight: 700;}
.legal-notice p{border-bottom: 1px dotted rgba(0,0,0,.2);padding-bottom:20px;word-break: keep-all;}
[menu-side] table{width:100%;border:1px solid rgba(0,0,0,.2);border-width:1px 0;margin-bottom:10px}
[menu-side] th{padding:5px 10px;background-color:#f6f6f6;text-align:center;font-size:14px}
[menu-side] td{padding:5px 10px;border-bottom:1px solid rgba(0,0,0,.1);text-align:center;font-size:16px}
[menu-side] .legal-notice ul{list-style: none;}
[menu-side] .legal-notice li{position: relative;padding-left: 8px;}
[menu-side] .legal-notice li::before {content: '';position: absolute;top: 13px;left: 0;width: 3px;height: 3px;background: #222222;border-radius: 3px;}

/* footer style */
.familysite{text-align: right;}
.familysite ul.dropdown-menu{padding:5px;width:110px;min-width:initial}
.familysite li{display:inline-block;margin-bottom:0;padding-left:5px}
.familysite select{background:none;background-color: transparent;border: none;margin:0;color:#8890A4;-webkit-appearance:auto;}
.familyicons img{max-width:20px;margin-right:5px}


@media screen and (max-width: 575px) {
    .main-title {font-size: 28px; line-height: 28px; }

    .familysite a,.familysite select{margin-left:5px;margin-right:5px;font-size:14px}
    .familysite select{max-width: 115px;padding:5px}
    .familysite .margin-35px-top{margin-top:15px}
}